.footermenu{
     /* border: solid black 2px;  */
     position: absolute;
    top: 250px;
} 
.footerlist{
     /* border: solid yellow 2px;  */
    list-style-type: none;
    display: flex;
    padding: 30px;
    margin: 0px;
}
.fliStyle{
     /* border: solid saddlebrown 2px;  */
    margin: 0px 20px; 
    cursor:pointer; 
    font-size: 18px; 
} 