.wrapper{
    /* border: solid sandybrown 2px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:0px 0px 5rem 5rem;
    height: 35rem;
    position: relative;
    padding:0px 0px 0px 80px ;
    background-color: #081730;
    z-index: 3;
}
.textside{
    font-size: 15px;
    color: #525D6E;
}
.headings{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.spandownload{
    font-size: 13px;
}
.images{
    /* border: solid yellow 2px; */
    position: relative;
    width: 50%;
    height: 600px;
}
.backimage{
    position: absolute;
    top: 150px;
    right: 0px;
    height:40%;
    width:60%;
   
}
.image1{
    position: absolute;
     top: 50px;
    left: 50px; 
    height: 34rem;
    width:300px;
} 
.image2{
    position: absolute;
    width: 175px;
    bottom: 105px;
    left: 90px;

}
.image3{
    position: absolute;
    width: 5rem;
    bottom:40px;
    left: 50px;
}
.image4{
    position: absolute;
    width: 110px;
    bottom: 25px;
    left: 30px;
} 
